# Ensures that `buildSrc` directories are the same under:
#  - the root of the project;
#  - integration tests directory (`tests`).

name: Check buildSrc copies

on:
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Check root and `tests` copies are the same.
        shell: bash
        run: ./script/same-dir.sh ./buildSrc ./tests/buildSrc
